name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup NodeJs
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Run Type Check
        run: yarn typecheck
      - name: Run test
        run: yarn test
